* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    height: 200px;
    width: 400px;
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    font-size: 40px;
    border: 4px solid #262626;
    position: relative;
    overflow: hidden;
}

a::before {
    content: 'Hover';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

}

a::after {
    content: 'Hover';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffa65;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: translate(-100%, 100%);
}

a:hover::before {
    transform: translate(100%, -100%);
}

a:hover::after {
    transform: translate(0, -0);
}