<h1>Cadastre o seu livro</h1>
<form action="/books/insertbook" method="POST">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="Digite o Tútulo:" />
  </div>
  <div>
    <label for="pageQty">Número de páginas:</label>
    <input type="number" name="pageQty" placeholder="Quantidade de páginas:" />
  </div>
  <input type="submit" value="cadastrar" />
</form>