React/learning-jotai/.gitignore
Tailwind/.editorconfig
Tailwind/.prettierrc
Tailwind/node_modules
React/curso-react/jest-tests/.editorconfig
node_modules
/Tailwind/.gitignore
/.gitignore
/Node/1-Fundamentos/13-sync-async/*.txt
/React/learning-jotai/src/css/tailwind.css
app
Nest/dist
Nest/coverage
Nest/src/.env
Nest/.env
Nest/ormlogs.log