<h1>Usuários cadastrados:</h1>
<div>
  {{#each users}}
    <div>
      <h2>{{this.name}}</h2>
      <p>{{this.occupation}}</p>
      <div>
        <a href="/users/{{this.id}}">Ver detalhes</a>
        <form action="/users/delete/{{this.id}}" method="post">
          <input type="submit" value="Excluir" />
        </form>
      </div>
    </div>
  {{/each}}
</div>