#div-linda {
    height: 500px;
    width: 500px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: darkblue;
    background-color: blueviolet;
}

ul {
    height: 300px;
    width: 300px;
    background-image: url(./Swift\ _3.jfif);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}