section.itemContainer {
  background-color: blanchedalmond;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border: 5px solid green;
}

section.itemContainer p {
  margin: 0;
}